<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Browse Donations", donations_path %></li>
<li><%= link_to "Donate an Item", new_donation_path %></li>
<li><%= link_to "Browse Charities", charities_path %></li>
<li><%= link_to "Register a New Charity", new_charity_path %></li>
<li><%= link_to "Create an Account", new_user_registration_path %></li>
