<div id="<%= dom_id page %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= page.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subtitle:</strong>
    <%= page.subtitle %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= page.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= page.published_at %>
  </div>
</div>
