<% content_for :title, "Showing page" %>

<% if @page.title == 'Home' %>
  <%= render @page %>
<% else %>
<div class="md:w-2/3 w-full">
  <%= render @page %>

  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  <% if @page.user == current_user %>
    <%= link_to "Edit this page", edit_page_path(@page), class: "btn btn-primary" %>
    <%= button_to "Delete this page", @page, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
  <% end %>
</div>
<% end %>
