<div id="<%= dom_id donation %>" class="w-full sm:w-auto my-5 space-y-5">
  <% if donation.name? %>
    <div class="block">
      <strong class="font-medium mb-1">Name:</strong>
      <%= donation.name %>
    </div>
  <% end %>
  <% if donation.quantity? %>
    <div class="block">
      <strong class="font-medium mb-1">Quantity:</strong>
      <%= donation.quantity %>
    </div>
  <% end %>
  <% unless donation.user.nil? %>
    <div class="block">
      <strong class="font-medium mb-1">Donated By:</strong>
      <%= donation.user.name %>
    </div>
  <% end %>
  <% if donation.condition? %>
    <div class="block">
      <strong class="font-medium mb-1">Condition:</strong>
      <%= donation.condition %>
    </div>
  <% end %>
  <% if donation.description? %>
    <div>
      <strong class="block font-medium mb-1">Description:</strong>
      <%= donation.description %>
    </div>
  <% end %>
  <% if donation.pictures.attached? %>
    <div>
      <strong class="block font-medium mb-1">Pictures:</strong>
      <% donation.pictures.each do |picture| %>
        <div><%= link_to picture.filename, picture, class: "text-gray-700 underline hover:no-underline" %></div>
      <% end %>
    </div>
  <% end %>
  <% if donation.claimed_at? %>
    <div class="block">
      <strong class="font-medium mb-1">Claimed At:</strong>
      <%= donation.claimed_at %>
    </div>
  <% end %>
  <% if donation.claimed_by %>
    <div class="block">
      <strong class="font-medium mb-1">Claimed By:</strong>
      <%= link_to donation.claimed_by.name.to_s, donation.claimed_by, class: "text-gray-700 underline hover:no-underline" %>
    </div>
  <% end %>
</div>
