<%= form_with(model: donation, class: "contents") do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul class="list-disc ml-6">
        <% donation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Name of the Donation" %>
    <%= form.textarea :name, rows: 4, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": donation.errors[:name].none?, "border-red-400 focus:outline-red-600": donation.errors[:name].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(donation_categories, selected: donation.category) %>
  </div>

  <div class="my-5">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": donation.errors[:quantity].none?, "border-red-400 focus:outline-red-600": donation.errors[:quantity].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_textarea :description, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": donation.errors[:description].none?, "border-red-400 focus:outline-red-600": donation.errors[:description].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :condition %>
    <%= form.textarea :condition, rows: 4, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": donation.errors[:condition].none?, "border-red-400 focus:outline-red-600": donation.errors[:condition].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": donation.errors[:pictures].none?, "border-red-400 focus:outline-red-600": donation.errors[:pictures].any? } ] %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
