<%= form_with(model: charity, class: "contents") do |form| %>
  <% if charity.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(charity.errors.count, "error") %> prohibited this charity from being saved:</h2>

      <ul class="list-disc ml-6">
        <% charity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.textarea :name, rows: 4, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": charity.errors[:name].none?, "border-red-400 focus:outline-red-600": charity.errors[:name].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :registration_number %>
    <%= form.textarea :registration_number, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": charity.errors[:registration_number].none?, "border-red-400 focus:outline-red-600": charity.errors[:registration_number].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_textarea :description, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": charity.errors[:description].none?, "border-red-400 focus:outline-red-600": charity.errors[:description].any? } ] %>
  </div>

  <div class="my-3">
    <%= form.label :needs %>
    <%= form.select :needs, options_for_select(donation_categories, selected: charity.needs), multiple: true %>
  </div>

  <div class="my-5">
    <%= form.label :contact_email %>
    <%= form.textarea :contact_email, rows: 1, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": charity.errors[:contact_email].none?, "border-red-400 focus:outline-red-600": charity.errors[:contact_email].any? } ] %>
  </div>

  <div class="my-5">
    <%= form.label :logo %>
    <%= form.file_field :logo, class: [ "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": charity.errors[:logo].none?, "border-red-400 focus:outline-red-600": charity.errors[:logo].any? } ] %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
